<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Contact{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
